<div class="container col-xl-3 col-md-6 col-sm-12">
  <h1>Iniciar sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="identifier">Correo electrónico o nombre de usuario:</label>
      <input
            formControlName="identifier"
            type="text"
            class="form-control"
            id="identifier"
            placeholder="Correo electrónico o nombre se usuario">
    </div>
    <div *ngIf="loginForm.get('identifier').errors?.required && !loginForm.get('identifier').pristine"
      class="form-control-feedback alert alert-danger">
      El correo o nombre de usuario es necesario.
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña">
    </div>
    <div *ngIf="loginForm.get('password').errors?.required && !loginForm.get('password').pristine"
      class="form-control-feedback alert alert-danger">
      Introduzca la contraseña
    </div>
    <button type="submit" class="btn btn-dark" [disabled] = "!loginForm.valid || loading">
    <!-- <i [ngClass]="{ 'fa-save': !loading, 'fa-spin':loading }"
    class="fa fa-refresh fa-spin"></i> -->
    <span *ngIf="!loading">Iniciar sesión</span>
    <span *ngIf="loading">Espere por favor</span>
    </button>
  </form>

  <br><br>
  <div *ngIf="errorMessage">
      <div class="alert alert-danger">
        <strong>¡Error!</strong> {{errorMessage}}
      </div>
  </div>
</div>
