<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 myCols">
                <h5>Información de interes</h5>
                <ul>
                    <li><a href="javascript:void(0)">¿Cómo Funciona?</a></li>
                    <li><a href="http://www.ipn.mx" target="_blank">Sitio del IPN</a></li>
                    <li><a href="http://www.upiita.ipn.mx" target="_blank">Sitio de la UPIITA</a></li>
                </ul>
            </div>
            <div class="col-md-3 myCols">
                <h5>Legal</h5>
                <ul>
                    <li><a href="javascript:void(0)">Aviso de privacidad</a></li>
                    <li><a href="javascript:void(0)">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-3 myCols">
                <h5>Soporte</h5>
                <ul>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">Manual de usuario</a></li>
                    <li><a href="javascript:void(0)">Ayuda</a></li>
                </ul>
            </div>
            <div class="col-md-3 myCols">
              <div class="footer-logos">
                <img class= "footer-logo align-items-center" src="../assets/img/upiita1.png" alt="Logo UPIITA">
                <img class= "footer-logo align-items-center"src="../assets/img/logoipn-negro.png" alt="Logo IPN">
                <p style="margin-top:0px !important">© 2017 Instituto Politécnico Nacional</p>
              </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
      <p class="text-center small">Desarrollado en la Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas del IPN por</p>
      <p class="text-center small"> José Daniel Pérez Ramírez y Lorena Chávez Nava Olguín</p>
      <!-- <p> por José Daniel Pérez Ramírez y Lorena Chávez Nava Olguín</p> -->
    </div>
</footer>
